@font-face{
    font-family: 'JetBrains Mono';
    font-display: swap;
    src: url('../font/JetBrainsMono-Regular.ttf') format("truetype");
}
@font-face{
    font-family: 'PingFangSC';
    font-display: swap;
    src: url('../font/PingFangSC-Regular.woff2') format("truetype");
}
@font-face{
    font-family: 'Inter';
    font-display: swap;
    src: url('../font/Inter.woff2') format("truetype");
}
body {
    font-family: 'Inter';
}